<div class="text-center" id="home-body">
  <h1>THE LOUNGE</h1>
  <!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->
  <h2>Your Cocktails Collection</h2>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail_path(cocktail) do %>
            <% if   cocktail.photo.model["photo"].nil? %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path "http://res.cloudinary.com/dehoiiivb/image/upload/v1527184496/ywbvhyfxpaiujccn3r9g.png", height: 300, width: 400, crop: :fill %>')">
                <div class="cocktail-name"><%= cocktail.name %></div>
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                <div class="cocktail-name"><%= cocktail.name %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


</div>

